/*Google fonts*/

@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/*Variables*/

:root {
    --btn-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.3);
    --btn-font-weight: bold;
    --primary-color: #9356DC;
    --bg-light-grey-color: #F6F6F6;
    --bg-dark-grey-color: #EAEAEA;
}

/*************************************************/

body {
    font-family: "Roboto", sans-serif;
}
.header {
    height: 65px;
}
h3, ul, p, i {
    margin: 0;
}
h3, p {
    color: black;
}
ul {
    list-style-type: none;
    padding: 0;
}
em {
    font-style: normal;
    font-weight: bold;
}
a {
    text-decoration: none;
}
button {
    border: none;
    cursor: pointer;
}
.font_shrikhand {
    font-family: "Shrikhand", sans-serif;
    font-size: 1.7rem;
}
.subtitle {
    font-size: 1.45rem;
    margin-left: 20px;
}

/*Flexbox*/

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex_column_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.flex_center_reverse {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse; 
}
.flex_between_center {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
/*********************Header**********************/

/*Logo*/

.logo {
    width: 165px;
    height: 30px;
    margin-top: 12px;
}

/**********************Main***********************/

/*Lieu*/

.bg_place {
    background-color: var(--bg-dark-grey-color);
    box-shadow: inset 0px 10px 10px -10px rgba(0,0,0,0.5);
    width: 100%;
    height: 50px;
}
.icon_margin {
    margin-left: 65px;
}
.place {
    border: none;
    outline: none;
    background-color: var(--bg-dark-grey-color);
    margin-left: 15px;
}
/*Présentation de l'entreprise*/

.bg_description {
    background-color: var(--bg-light-grey-color);
    width: 100%;
    height: 285px;
}
.title_size {
    font-size: 1.5rem;
    margin-left: 50px;
    margin-top: 40px;
    margin-right: 50px;
}
.description_size {
    font-size: 1.1rem;
    color: #575757;
    margin-top: -5px;
}
.btn_explore {
    color: white;
    width: 220px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(175deg,#FF79DA 0%,#9356DC 100%);
    box-shadow: var(--btn-box-shadow);
    margin-top: 32px;
}
.btn_explore:hover {
    opacity: 0.8;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.4);
}

/*Concept*/

.concept {
    margin-top: 50px;
}
ol {
    counter-reset: list-circle;
    list-style: none;
    height: 270px;
    margin-top: 30px;
    margin-left: 12px;
    padding: 0;
}
ol li {
    counter-increment: list-circle;
    width: 322px;
    height: 75px;
    border-radius: 20px;
    box-shadow: var(--btn-box-shadow);
    display: flex;
    align-items: center;
}
ol li:first-child {
    background-color: var(--bg-light-grey-color);
}
ol li:nth-child(2) {
    background-color: var(--bg-light-grey-color);
}
ol li:last-child {
    background-color: #F5EDFF;
}
ol li::before {
    content: counter(list-circle);
    background: var(--primary-color);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: white;
    margin-left: -12px;
    margin-right: 22px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.fa-mobile-alt {
    margin-right: 28px;
}
.fa-list-ul {
    margin-right: 22px;
}
.fa-store {
    color: var(--primary-color);
    margin-right: 18px;
}
/*Cartes des restaurants*/

.card_bg {
    background-color: var(--bg-light-grey-color);
    width: 100%;
    height: 1195px;
    margin-top: 70px;
    padding-top: 35px;
}
.block_cards {
    height: 1060px;
}
.card {
    position: relative;
    width: 89.3vw;
    height: 250px;
    background-color: white;
    box-shadow: var(--btn-box-shadow);
    border-radius: 15px;
    margin: 0;
}
.card_img {
    width: 89.3vw;
    height: 175px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.card_label {
    position: absolute;
    background-color: #99E2D0;
    color: #30A387;
    box-sizing: border-box;
    width: 80px;
    height: 30px;
    padding: 0;
    padding-left: 7px;
    padding-top: 5px;
    margin-left: -90px;
    margin-top: 12px;
    border-radius: 3px;
}
.card_body {
    position: relative;
}
.card_description {
    box-sizing: border-box;
    width: 89.3vw;
    height: 70px;
    padding-top: 12px;
    padding-left: 15px;
    margin: 0;
}
.card_title {
    font-size: 1.1rem;
    margin-bottom: 3px;
}
.card_place {
    font-size: 1.1rem;
}
svg {
    position: absolute;
    width: 25px;
    height: 25px;
    margin-top: 17px;
    margin-left: 76vw;
    overflow: visible;
    cursor: pointer;
}
svg path { 
    fill: transparent;
    stroke: black;
    stroke-width: 20px;
    transition: 1s 0s ease;
}
svg path:hover {
    fill: url(#icon_color);
    stroke: url(#icon_color);
}

/********************Footer**********************/

footer {
    box-sizing: border-box;
    background-color: #353535;
    width: 100%;
    height: 200px;
}
.footer_logo {
    filter: invert(1);
    width: 100px ;
    margin: 0;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 18px;
}
.footer_ul {
    list-style: none;
    margin-left: 25px;
    width: 100%;
    height: 95px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}
ul li a {
    color: white;
}
ul li a:hover {
    color: #FF79DA;
}
.fa-utensils {
    margin-right: 7px;
}
.fa-hands-helping {
    margin-right: 5px;
}

/**************************************************/

/*************Page menu "La palette du goût" ************/

/**********************Header**********************/

/*Bouton de retour vers la page d'accueil*/

.fa-arrow-left {
    color: black;
    margin-left: -82px;
    margin-top: 8px;
}

/***************Header de l'article*****************/

.header_img {
    position: relative;
    width: 100%;
    height: 270px;
    object-fit: cover;
}
.title_bg {
    position: absolute;
    box-sizing: border-box;
    background-color: var(--bg-light-grey-color);
    border-radius: 50px 50px 0 0;
    width: 100%;
    height: 68px;
    margin-top: -55px;
    display: flex;
    align-items: flex-end;
}
.header_title {
    margin: 0;
    margin-left: 20px;
}
.svg_icon {
    width: 25px;
    height: 25px;
    overflow: visible;
    cursor: pointer;
    margin-left: 315px;
    margin-bottom: 6px;
}

/**********************Article***********************/

.article_bg {
    background-color: var(--bg-light-grey-color);
    height: 1360px;
}
.uppercase {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1rem;
    margin: 0;
    margin-top: 33px;
    margin-left: 20px;
}
.top {
    margin-top: 47px;
}
.style {
    background-color: #99E2D0;
    width: 40px;
    height: 3px;
    margin-left: 20px;
    margin-top: 4px;
}
.list {
    height: 235px;
    margin-top: 12px;
}
.list_bg {
    box-sizing: border-box;
    background-color: white;
    width: 345px;
    height: 70px;
    padding: 14px 22px 0 12px;
    border-radius: 15px;
    box-shadow: var(--btn-box-shadow);
    cursor: pointer;
}
.list_title {
    font-size: 1.1rem;
}
.list_description {
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}

/*Bouton "Commander"*/

.btn_order {
    background-color: var(--bg-light-grey-color);
    border-radius: 50px;
    margin-top: 45px;
    padding: 0;
}
.order {
    background: linear-gradient(175deg,#FF79DA 0%,#9356DC 100%);  
    color: white;
    width: 185px;
    height: 50px;
    border: none;
    border-radius: 50px;
    box-shadow: var(--btn-box-shadow);
    cursor: pointer;
}
.order:hover {
    opacity: 0.8;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.4);
}