/*Google fonts*/

@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");

/*Variables*/

:root {
    --btn-box-shadow: 0 3px 8px 0 rgba(0,0,0,0.3);
    --btn-font-weight: bold;
    --primary-color: #9356DC;
    --secondary-color: #FF79DA;
    --bg-light-grey-color: #F6F6F6;
    --bg-dark-grey-color: #EAEAEA;
}

/*keyframes*/

@keyframes accueil {
    to {
        visibility: visible;
    }
}

@keyframes spinner {
    from {
        transform: rotate(0);
    }
    to {
        visibility: visible;
        transform: rotate(360deg);
    }
}

@keyframes svg {
    to {
        visibility: visible;
    }
}

@keyframes color {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes apparition {
    from {
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*************************************************/

body {
    font-family: "Roboto", sans-serif;
}

footer {
    box-sizing: border-box;
    background-color: #353535;
    width: 100%;
    height: 200px;
    padding-top: 25px;
    padding-left: 6.5%;
}

h3,
ul,
p,
i {
    margin: 0;
}

h3,
p {
    color: black;
}

ul,
ol {
    padding: 0;
}

ul {
    list-style-type: none;
}

ul li a {
    color: white;
}

ul li a:hover {
    color: var(--secondary-color);
}

ol {
    counter-reset: list-circle;
    list-style: none;
    height: 270px;
    margin-top: 30px;
    margin-left: 12px;
}

ol li {
    counter-increment: list-circle;
    width: 322px;
    height: 75px;
    border-radius: 20px;
    box-shadow: var(--btn-box-shadow);
    display: flex;
    align-items: center;
}

ol li:first-child,
ol li:nth-child(2) {
    background-color: var(--bg-light-grey-color);
}

ol li:last-child {
    background-color: #F5EDFF;
}

ol li::before,
svg {
    width: 25px;
    height: 25px;
}

ol li::before {
    content: counter(list-circle);
    background: var(--primary-color);
    border-radius: 50%;
    color: white;
    margin-left: -12px;
    margin-right: 22px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

em {
    font-style: normal;
    font-weight: var(--btn-font-weight);
}

a {
    text-decoration: none;
}

button,
svg {
    cursor: pointer;
}

button {
    border: none;
}

svg {
    position: relative;
    bottom: 2px;
    overflow: visible;
}

path {
    fill: transparent;
    stroke: black;
    stroke-width: 20px;
}

.loading,
.fa-concierge-bell,
.bg_deco,
.card_label,
.svg_accueil,
.check_svg,
.check_item .item::after,
.price {
    position: absolute;
}

.concept,
.card,
.card_body,
.fa-arrow-left,
.header_img,
.header_title,
.svg_menu,
.list,
.check_item .item {
    position: relative;
}

.card_label,
.card_description,
.header_title,
.check_item .item {
    box-sizing: border-box;
}

.bg_place,
.place {
    background-color: var(--bg-dark-grey-color);
}

.bg_description,
.article_bg,
.article_bg_lg,
.card_bg,
.header_title,
.btn_order {
    background-color: var(--bg-light-grey-color);
}

.bg_place,
.bg_description,
.bg_deco,
.card_bg,
.footer_ul,
.header_img,
.header_title{
    width: 100%;
}

.check_item .none[type="checkbox"]:checked ~ .item .list_title,
.check_item .none[type="checkbox"]:checked ~ .item .list_description {
    width: 51.2vw;
}

.svg_accueil,
.check_svg,
.svg_menu {
    width: 15px;
    height: 15px;
}

.first_apparition,
.second_apparition,
.third_apparition,
.fourth_apparition {
    opacity: 0;
}

.card,
.card_description,
.footer_logo,
.header_title,
.uppercase{
    margin: 0;
}

.logo,
.card_label,
.list,
.list_lg {
    margin-top: 12px;
}

.list_title,
.list_description {
    width: 285px;
    transition: 0.5s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*Flexbox*/

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_column_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.flex_between_center {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

/*******************Chargement********************/

.accueil {
    visibility: hidden;
    animation: accueil 0s 3s forwards;
}

.loading {
    border: 8px solid transparent;
    border-top: 8px solid var(--secondary-color);
    border-bottom: 8px solid var(--primary-color);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: spinner 1s linear 3;
    visibility: hidden;
}

.svg_loading {
    fill: var(--bg-light-grey-color);
    stroke: #99E2D0;
    stroke-width: 20px;
}

.fa-concierge-bell {
    margin: auto;
    top: 0;
    right: 35px;
    bottom: 40px;
    left: 0;
    cursor: default;
    animation: svg 3s;
    visibility: hidden;
}

/*********************Header**********************/

/*Logo*/

.header {
    height: 65px;
}

.logo {
    width: 165px;
    height: 30px;
}

/**********************Main***********************/

/*Lieu*/

.bg_place {
    box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.5);
    height: 50px;
}

.icon_margin {
    margin-left: 65px;
}

.place {
    border: none;
    outline: none;
    margin-left: 15px;
}

/*Présentation de l'entreprise*/

.bg_description {
    height: 285px;
}

.title_size {
    font-size: 1.5rem;
    margin-left: 50px;
    margin-top: 40px;
    margin-right: 50px;
}

.description_size {
    font-size: 1.1rem;
    color: #575757;
    margin-top: -5px;
}

.btn_explore {
    color: white;
    width: 220px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(175deg, var(--secondary-color) 0%, var(--primary-color) 100%);
    box-shadow: var(--btn-box-shadow);
    margin-top: 32px;
}

.btn_explore:hover {
    opacity: 0.8;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.4);
}

/*Concept*/

.concept {
    margin-top: 50px;
}

.fa-mobile-alt {
    margin-right: 28px;
}

.fa-list-ul {
    margin-right: 22px;
}

.fa-store {
    color: var(--primary-color);
    margin-right: 18px;
}

.bg_deco {
    display: none;
    object-fit: cover;
    opacity: 0.5;
    height: 450px;
    top: 350px;
}

/*Cartes des restaurants*/

.subtitle {
    font-size: 1.45rem;
    margin-left: 6%;
}

.card_bg {
    height: 1195px;
    margin-top: 70px;
    padding-top: 35px;
}

.block_cards {
    height: 1060px;
}

.cards_flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 520px;
}

.card {
    width: 89.3vw;
    height: 250px;
    background-color: white;
    box-shadow: var(--btn-box-shadow);
    border-radius: 15px;
}

.card_img {
    width: 89.3vw;
    height: 175px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card_label {
    background-color: #99E2D0;
    color: #30A387;
    border-radius: 3px;
    width: 80px;
    height: 30px;
    padding: 0;
    padding-left: 7px;
    padding-top: 5px;
    margin-left: -90px;
}

.card_description {
    width: 89.3vw;
    height: 70px;
    padding-top: 12px;
    padding-left: 15px;
}

.card_title {
    font-size: 1.1rem;
    margin-bottom: 3px;
}

.card_place {
    font-size: 1.1rem;
}

.svg_accueil {
    left: 77vw;
    bottom: 35px;
}

.check_svg {
    left: 5px;
    opacity: 0;
    cursor: pointer;
}

.check_svg[type="checkbox"]:checked ~ svg path {
    fill: url(#icon_color);
    stroke: url(#icon_color);
    opacity: 0;
    animation: color 4s forwards;
}

/********************Footer**********************/

.footer_logo {
    filter: invert(1);
    width: 100px;
    margin-bottom: 18px;
}

.footer_ul {
    list-style: none;
    height: 95px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

.fa-utensils {
    margin-right: 7px;
}

.fa-hands-helping {
    margin-right: 5px;
}

/**************************************************/

/*********************Pages menus ********************/

/**********************Header**********************/

/*Bouton de retour vers la page d'accueil*/

.fa-arrow-left {
    color: black;
    margin-top: 8px;
    left: -19vw;
}

/***************Header de l'article*****************/

.header_img {
    height: 270px;
    object-fit: cover;
}

.header_height {
    height: 290px;
}

.header_title {
    font-family: "Shrikhand", sans-serif;
    font-size: 1.7rem;
    height: 68px;
    border-radius: 50px 50px 0 0;
    display: flex;
    align-items: flex-end;
    margin-top: -55px;
    padding-left: 20px;
}

.svg_menu {
    left: 83vw;
    bottom: 28px;
}

/**********************Article***********************/

.article_bg {
    height: 1360px;
}

.article_bg_lg {
    height: 1460px;
}

.list {
    height: 235px;
}

.list_lg {
    height: 315px;
}

.uppercase {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1rem;
    margin-top: 33px;
    margin-left: 5%;
}

.style {
    background-color: #99E2D0;
    width: 40px;
    height: 3px;
    margin-top: 4px;
    margin-left: 5%;
}

.item {
    display: flex;
    flex-direction: column;
}

.check_item .item {
    width: 92vw;
    height: 70px;
    padding: 14px 22px 0 12px;
    border-radius: 15px;
    box-shadow: var(--btn-box-shadow);
    cursor: pointer;
    transition: 0.5s;
    background: linear-gradient(90deg, white 85%, #99E2D0 15%);
    background-size: 108.3vw 70px;
    overflow: hidden;
}

.check_item .item::after {
    font-family: "Font Awesome 5 Free";
    content: "\f058";
    font-weight: 900;
    font-size: 22px;
    color: white;
    bottom: 20px;
    right: -30px;
    transition-property: transform;
    transition: 0.5s;
}

.list_title {
    font-size: 1.1rem;
    font-weight: var(--btn-font-weight);
}

.list_description {
    font-size: 0.9rem;
    font-weight: normal;
    margin-top: 7px;
}

.price {
    right: 22px;
    bottom: 14px;
    transition-property: transform;
    transition: 0.5s;
}

.check_item .none {
    display: none;
}

.check_item .none[type="checkbox"]:checked ~ .item {
    background-position: -60px 0;
}

.check_item .none[type="checkbox"]:checked ~ .item::after {
    margin-right: 50px;
    transform:  rotate(360deg);
}

.check_item .none[type="checkbox"]:checked ~ .item .price {
    transform: translateX(-60px);
}

.first_apparition {
    animation: apparition 1s ease forwards;
}

.second_apparition {
    animation: apparition 1s 0.25s ease forwards;
}

.third_apparition {
    animation: apparition 1s 0.5s ease forwards;
}

.fourth_apparition {
    animation: apparition 1s 0.75s ease forwards;
}

/*Bouton "Commander"*/

.btn_order {
    border-radius: 50px;
    margin-top: 47px;
    padding: 0;
}

.order {
    background: linear-gradient(175deg, var(--secondary-color) 0%, var(--primary-color) 100%);
    color: white;
    width: 185px;
    height: 50px;
    border: none;
    border-radius: 50px;
    box-shadow: var(--btn-box-shadow);
    cursor: pointer;
}

.order:hover {
    opacity: 0.8;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.4);
}

/********************************************************************/

/**********Media Queries page accueil (min-width: 576px)**********/

@media screen and (min-width: 576px) {

    ol li {
        width: 350px;
    }

    footer {
        padding-left: 6%;
    }

    .subtitle_color {
        background-color: var(--bg-light-grey-color);
        width: 200px;
        height: 30px;
        box-shadow: var(--btn-box-shadow);
        border-radius: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bg_deco {
        display: block;
    }

    .bg_description {
        height: 235px;
    }

    .svg_accueil {
        left: 80.2vw;
    }

/**********Media Queries pages menus (min-width: 576px)**********/

    .fa-arrow-left {
        left: -30vw;
    }

    .svg_menu {
        left: 89vw;
    }
}

/**********Media Queries page accueil (min-width: 768px)**********/

@media screen and (min-width: 768px) {

    footer {
        padding-left: 4%;
    }

    .card,
    .card_img,
    .card_description {
        width: 45vw;
    }

    .cards_flex {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 93.3vw;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .block_cards {
        height: 530px;
    }

    .card_bg {
        height: 675px;
    }

    .subtitle {
        margin-left: 3.5%;
    }

    .svg_accueil {
        left: 38.5vw;
    }

/**********Media Queries pages menus (min-width: 768px)**********/

    .check_item .none[type="checkbox"]:checked ~ .item .list_title,
    .check_item .none[type="checkbox"]:checked ~ .item .list_description {
        width: 32vw;
    }

    .uppercase,
    .style {
        margin-left: 25.5%;
    }

    .fa-arrow-left {
        left: -35vw;
    }

    .svg_menu {
        left: 92vw;
    }

    .check_item .item {
        width: 50vw;
        background-size: 59vw 70px;
    }
}

/**********Media Queries page accueil (min-width: 992px)**********/

@media screen and (min-width: 992px) {

    .cards_flex {
        height: 320px;
        margin-bottom: 22px;
    }

    .card {
        height: 320px;
    }

    .card_bg {
        height: 830px;
    }

    .card_img {
        height: 225px;
    }

    .card_description {
        padding-top: 20px;
    }

    .svg_accueil {
        left: 39.8vw;
        bottom: 28px;
    }

    .check_svg:hover ~ svg path {
        fill: url(#icon_color);
        stroke: url(#icon_color);
        opacity: 0;
        animation: color 4s forwards;
    }

/**********Media Queries pages menus (min-width: 992px)**********/

    .check_item .none:hover ~ .item,
    .check_item .none:focus ~ .item {
        background-position: -60px 0;
    }

    .check_item .none:hover ~ .item::after,
    .check_item .none:focus ~ .item::after {
        margin-right: 50px;
        transform:  rotate(360deg);
    }

    .check_item .none:hover ~ .item .price,
    .check_item .none:focus ~ .item .price {
        transform: translateX(-60px);
    }

    .fa-arrow-left {
        left: -38.4vw;
    }

    .svg_menu {
        left: 93.5vw;
    }
}

/**********Media Queries page accueil (min-width: 1200px)**********/

@media screen and (min-width: 1200px) {

    .cards_flex,
    .card {
        height: 340px;
    }
    .cards_flex {
        margin-bottom: 30px;
    }

    .card_bg {
        height: 890px;
    }

    .card_img {
        height: 250px;
    }

    .svg_accueil {
    left: 40.8vw;
    }

/**********Media Queries pages menus (min-width: 1200px)**********/

    .fa-arrow-left {
        left: -40.5vw;
    }

    .svg_menu {
        left: 94.8vw;
    }
}

/**********Media Queries page accueil (min-width: 1440px)**********/

@media screen and (min-width: 1440px) {

    .cards_flex {
        margin-bottom: 40px;
    }

    .card_bg {
        height: 900px;
    }

    .svg_accueil {
        left: 41.5vw;
        }

/**********Media Queries pages menus (min-width: 1440px)**********/

    .fa-arrow-left {
        left: -42vw;
    }

    .svg_menu {
        left: 95.5vw;
    }
}
